<html>
<head>
    <title>Ordenar o Desordenar Números</title>
</head>
<body>
<h1>Ingrese 6 números</h1>
<form method='get'>
    #set($range = [0..5])
    #foreach($i in $range)
        <div class="input-row">
            <label for="number$i">Número $i:</label>
            <input type="text" id="number$i" name="number" value="$numbers.numbers[$i]" />
        </div>
    #end
    <button type="submit" onclick="this.form.action='/ej1/ordenar';">Ordenar</button>
    <button type="submit" onclick="this.form.action='/ej1/desordenar';">Desordenar</button>
    #if($numbers.rearrangedNumbers.size() > 0)
    <div>
        <h5>Cantidad de números: $numbers.rearrangedNumbers.size()</h5>
        <h5>Resultado:</h5>
        <ul>
            #foreach($num in $numbers.rearrangedNumbers)
                <li>$num</li>
            #end
        </ul>
    </div>
    #end
</form>
</body>
</html>